<div class="container my-5">
    <h1 class="mb-3">Add New Student</h1>
    
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addStudent()">
                <div class="mb-3">
                    <label for="name" class="form-label">Student Name</label>
                    <input type="text" class="form-control" id="name" name="studentName" [(ngModel)] = "addStudentRequest.studentName">
                </div>
                <div class="mb-3">
                    <label for="course" class="form-label">Course</label>
                    <input type="text" id="email" class="form-control" name="course" [(ngModel)] = "addStudentRequest.course">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="phone" class="form-control" name="email" [(ngModel)] = "addStudentRequest.email">
                </div>
                <div class="mb-3">
                    <label for="percentage" class="form-label">Percentage</label>
                    <input type="number" id="salary" class="form-control" name="percentage" [(ngModel)] = "addStudentRequest.percentage">
                </div>
                <div class="mb-3">
                    <label for="department" class="form-label">DepartmentId</label>
                    <input type="number" id="departmentId" class="form-control" name="departmentId" [(ngModel)] = "addStudentRequest.departmentId">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>